extends layout

block content
  h1= title
  p Welcome to #[em Music Store CRUD!]

  h1 Dynamic Content 

  if error 
    p Error getting data from db 
  else 
    p Statistics: 

    ul 
      li #[strong Instruments]: !{data.instrument_count}
      li #[strong Types]: !{data.type_count}
      li #[strong Brands]: !{data.brand_count}

